.Coffee{
    text-align:center;
    vertical-align:top;
    padding: 1%;
    margin:2% 2%;
    display:inline-block;
    width:230px;
    height:auto;
    border: 2px solid gray;
    box-shadow: 2px 3px 5px gray;
    border-radius: 20px
}

.Coffee h5{
    margin-top: 5px
}

.Coffee img{
    max-width: 180px;
    max-height: 250px;
    border-radius: 10%;
    box-shadow:2px 2px 5px gray;
}